{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - Admin épisodes édition{% endblock %}
{% block meta %}Administration et edition des épisodes du site{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">
        <h2 class="mb-4">Editer épisode {{ episode.number }} - {{ episode.title }}</h2>
        {{ include('admin/episodes/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>

{% endblock %}