{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - Admin épisodes{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">

        <div class="row">
            <div class="col-8">
                <h1>Gérer les épisodes</h1>
            </div>
            <div class="col-4">
                <a href="{{ path('admin.saisons.index') }}" class="btn btn-primary float-right">Gérer les saisons</a>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Saison</th>
                <th>Numéro</th>
                <th>Titre :</th>
                <th>Actions :</th>
            </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.saison }}</td>
                    <td>Episode {{ episode.number }}</td>
                    <td>{{ episode.title }}</td>
                    <td>
                        <a href="{{ path('admin.episode.edit', {id: episode.id}) }}" class="btn btn-secondary">Editer</a>
                        <a href="{{ path('admin.link.episode.edit', {id: episode.id}) }}" class="btn btn-secondary">Editer links Doodstream</a>
                        <a href="{{ path('admin.link.episode.edit.stream', {id: episode.id}) }}" class="btn btn-secondary">Editer links Vidoza</a>
                        <form method="post" action="{{ path('admin.episode.delete', {id: episode.id}) }}" style="display: inline-block" onsubmit="return confirm('Est-ce ton dernier mot Jean-Pierre ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.episode.create') }}" class="btn btn-primary mb-4">Ajouter un épisode</a>
        </div>

    </div>

{% endblock %}
