{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - {{ saison.name }} en VF et VOSTFR{% endblock %}
{% block meta %}Regarder tous les épisodes de la {{ saison.name }} de la série Kaamelott en streaming gratuit VF et VOSTFR!{% endblock %}
{% block body %}

    <div class="container mt-container-home">
        <h1 class="mb-3 mt-3">{{ saison.name }} de Kaamelott</h1>
        <h2 class="mb-4 reform-title">Regarder les épisodes de la {{ saison.name }} de la série Kaamelott en streaming gratuit VF et VOSTFR</h2>
        <div class="row mb-4">
            <img src="{{ asset('uploads/saisons_directory/' ~ saison.avatar) }}" alt="Affiche de la {{ saison.name }} de Kaamelott" title="Affiche de la {{ saison.name }} de Kaamelott" class="col-2 avatar-img-show">
            <p class="col-md-10">{{ saison.description }}</p>
            <div class="addthis-episode-show addthis_inline_share_toolbox_2cgn"></div>
        </div>

        <div class="container">
            <div class="card-deck deck-show">
                {% for episode in episodes %}
                    <div class="card card-show card-last-{{ loop.last }}">
                        <a href="{{ path('episode.show', {slug_s: saison.slug, id_s: saison.id, slug: episode.slug, id: episode.id, number: episode.number}) }}" class="img-show" title="Regarder l'Episode {{ episode.number }} de la {{ saison.name }} en streaming gratuit VF et VOSTFR">
                            <img class="card-img-top" src="{{ asset('uploads/episodes_directory/' ~ episode.avatar) }}" alt="Affiche de {{ episode.title }} de Kaamelott">
                        </a>
                        <div class="card-body body-show">
                            <h3 class="card-title">Episode {{ episode.number }} - {{ episode.title }} </h3>
                            <p class="card-text">{{ episode.description }}</p>
                        </div>
                        <a href="{{ path('episode.show', {slug_s: saison.slug, id_s: saison.id, slug: episode.slug, id: episode.id, number: episode.number}) }}" class="btn btn-secondary btn-lg btn-show" role="button" title="Regarder l'Episode {{ episode.number }} de la {{ saison.name }} en streaming gratuit VF et VOSTFR">Regarder</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}