{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - Admin Accueil{% endblock %}
{% block meta %}Administration du site, page d'accueil{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">
        <h1>Administration</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Saisons :</th>
                <th>Episodes :</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ path('admin.saisons.index') }}" class="btn btn-primary">Administrer</a></td>
                    <td><a href="{{ path('admin.episodes.index') }}" class="btn btn-primary">Administrer</a></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}