{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - Admin saisons{% endblock %}
{% block meta %}Administration des saisons du site{% endblock %}
{% block body %}

    <div class="container mt-4 mt-container-home">

            <div class="row">
                <div class="col-8">
                    <h1>Gérer les saisons</h1>
                </div>
                <div class="col-4">
                    <a href="{{ path('admin.episodes.index') }}" class="btn btn-primary float-right">Gérer les épisodes</a>
                </div>
            </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name :</th>
                <th>Actions :</th>
            </tr>
            </thead>
            <tbody>
            {% for saison in saisons %}
            <tr>
                <td>{{ saison.name }}</td>
                <td>
                    <a href="{{ path('admin.saison.edit', {id: saison.id}) }}" class="btn btn-secondary">Editer</a>
                    <a href="{{ path('admin.link.saison.edit', {id: saison.id}) }}" class="btn btn-secondary">Editer links Doodstream</a>
                    <a href="{{ path('admin.link.saison.edit.stream', {id: saison.id}) }}" class="btn btn-secondary">Editer links Vidoza</a>
                    <form method="post" action="{{ path('admin.saison.delete', {id: saison.id}) }}" style="display: inline-block" onsubmit="return confirm('Est-ce ton dernier mot Jean-Pierre ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ saison.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.saison.create') }}" class="btn btn-primary mb-4">Ajouter une saison</a>
        </div>

    </div>

{% endblock %}
