@import "~bootstrap/scss/bootstrap";
@import "~hover.css/scss/hover";

body{
    background: #141414;
    color: #e5e5e5;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Selectionner un fichier";
}

.my_footer{
    width: 100%;
    background-color: #1f1f1f;
    text-align: center;
    color: #e5e5e5;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.deck-home{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
    background: rgba(0, 0, 0, 0.6)!important;
    color: white!important;
}

.saison-8{
    background: rgba(0, 0, 0, 0.6)!important;
    color: white!important;
}

.card-saison{
    color: transparent;
}

.card-img-overlay{
    z-index:2;
    color: transparent;
    text-decoration: none;
}
.card-img-overlay:hover{
    text-decoration: none;
}

.card-title{
    text-align: center;
}

.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}
.card
{
    border: none;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 3;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 15px;
    font-weight: bold;
    color: #e5e5e5;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #1f1f1f;
    background: linear-gradient(#1f1f1f 0%, #403f3f 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #403f3f;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #403f3f;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #403f3f;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #403f3f;
}
 .got-nav{
     color: #e5e5e5;
     background-color: #1f1f1f!important;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,.74);
 }
//ez
 .table{
     color: #e5e5e5;
 }

 .card-img
 {
     height: 100%;
 }

 .link-card-img-got{
     height: 100%;
     z-index: 1;
     text-decoration: none;
 }
 .avatar-img-show{
     height:100%;
     width: 100%;
 }
 .body-show{
     background-color: #1f1f1f;
 }
 .img-show{
     height: 49%!important;
 }
 .btn-show{
     float: right;
     border-radius: initial;
     background-color: #1f1f1f;
     border-color: #1f1f1f;
     border-top-color: #e5e5e5;
 }
 .card-show
 {
     background-color: #1f1f1f;
 }


.img-home{
    width: 100%!important;
    border-radius: calc(0.25rem - 1px)!important;
    height: 100%!important;
}

/* Tabs*/

section .section-title {
    text-align: center;
    color: #e5e5e5;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    color: #e5e5e5;
}
#tabs h6.section-title{
    color: #e5e5e5;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #e5e5e5;
    background-color: transparent;
    border-color: transparent transparent #e5e5e5;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #e5e5e5;
    font-size: 20px;
}
.logo-version{
    margin-left: 1%;
}
.lecteur{
    width: 100%;
    height: 628px;
}
.tab-lecteur{
    width: 100%;
}
.breadcrumb{
    color: #e5e5e5;
    background-color: #1f1f1f;
    text-decoration: none;
}
.separator{
    color: #e5e5e5;
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb > li > a{
    color: #e5e5e5;
}
.breadcrumb > li > span{
    font-weight: bold;
}
.btn-show-episode{
    width: 200px;
    color: #e5e5e5;
    background-color: #1f1f1f;
    border-color: #141414;
}
.btn-show-episode:hover{
    color: #e5e5e5;
    background-color: #141414;
    border-color: #1f1f1f;
}

.div-btn-show-episode{
    padding-left: 0;
    padding-right: 0;
}

.btn-secondary.disabled, .btn-primary:disabled{
    color: #e5e5e5;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    opacity: 0.65;
}
.img-404{
    margin: auto;
    display: block;
}
.title-404{
    font-size: 80px;
    font-weight: bold;
    color: #e5e5e5;
}
.addthis-episode-show{
    margin-left: 1%;
    margin-top: 2%;
}
.card-last-1{
    flex: 0 0 48.7%!important;
}
.logo-site{
    width: 50px!important;
    margin-right: 1%;
}
.logo-saison-nav{
    width: 30px;
}
.active{
    font-weight: bold;
}

.at-share-btn-elements{
    padding-left: 2px;
}
.mt-container-home{
    margin-top: 5.5rem !important;
}
.reform-title{
    font-size: 1.7rem!important;
}
#pubdirecte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#close_pubdirecte{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#nav-tabContent{
    position: relative;
}
.card-titlehome{
    transform: translateY(-50%);
    top: 50%;
    left: 0%;
    position: absolute;
}
#pubdirecte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#close_pubdirecte {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#nav-tabContent {
    position: relative;
}

.card-titlehome {
    transform: translateY(-50%);
    top: 50%;
    left: 0%;
    position: absolute;
}

.footer-title {
    font-size: 0.95rem !important;
}
/* RESPONSIVE design */
//test
@media (min-width: 576px){
  .card-deck .card-saison {
    display: initial!important;
  }
    .card-last- {
        display: flex!important;
    }
    .card-last-1 {
        display: flex!important;
    }
}

@media (min-width: 1024px){
    .card-deck .card {
        flex: 1 0 20%;
        margin-bottom: 40px;
    }
    .card-series{
        flex: 1 0 13%!important;
    }
}

@media (min-width: 1024px){
    .card-deck .card-show {
        flex: 1 0 33%;
        margin-bottom: 40px;
        margin-left: 0;
    }
}

@media (max-width: 415px){
    .link-home {
        font-size: 12px;
    }
    .btn-show-episode{
        width: 135px;
    }
    .breadcrumb{
        font-size: 10px;
    }
    .at-share-btn-elements {
        padding-left: 10px!important;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 600px)  {
    .card-deck .card-show {
        flex: 1 0 48%!important;
        margin-bottom: 40px;
        margin-left: 0;
    }
    .card-deck .card {
        flex: 1 0 42%;
        margin-bottom: 40px;
    }

}

@media screen and (width: 1280px) {
    .navbar-nav .nav-link {
        font-size: 12px;
    }
    .logo-saison-nav {
        width: 20px;
    }
}
@media screen and (width: 1152px) {
    .navbar-nav .nav-link {
        font-size: 12px;
    }
    .logo-saison-nav {
        width: 15px;
    }
}

@media screen and (width: 1024px) {
    .navbar-nav .nav-link {
        font-size: 10px;
    }
    .logo-saison-nav {
        width: 9px;
    }
}
@media screen and (width: 1440px) {
    .logo-saison-nav {
        width: 29px;
    }
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.scrollable-menu-got {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.saison-last-1{
    flex: 0 0 23.1%!important;
}