{% extends 'base.html.twig' %}
{% block title %}Kaamelott Streaming - {{ episode.saison }} / Episode {{ episode.number }} - {{ episode.title }} en VF et VOSTFR{% endblock %}
{% block meta %}Regarder l'épisode {{ episode.number }} de la {{ episode.saison }} de la série Kaamelott en streaming gratuit VF et VOSTFR !{% endblock %}
{% block body %}

    <div class="container mt-container-home">
        <h1 class="mb-3 mt-3">{{ episode.saison }} / Episode {{ episode.number }} : {{ episode.title }}</h1>
        <h2 class="mb-4 reform-title">Regarder l'épisode {{ episode.number }} de la {{ episode.saison }} de Kaamelott en streaming gratuit VF et VOSTFR</h2>
        <div class="row mb-4">
            <img src="{{ asset('uploads/episodes_directory/' ~ episode.avatar) }}" alt="Affiche de {{ episode.title }} de Kaamelott" class="col-2 avatar-img-show" title="Affiche de {{ episode.title }} de Kaamelott">
            <p class="col-md-10">{{ episode.description }} <br><br> <span class="font-italic">Première diffusion: {{ episode.releasedAt }}</span></p>
            <div class="addthis-episode-show addthis_inline_share_toolbox_2cgn"></div>
        </div>
        <section id="tabs">
            <div class="container">
                <div class="row">
                    {{ wo_render_breadcrumbs() }}
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-6 div-btn-show-episode">
                        {% if episode.saison.id == 1 and episode.number == 1 %}
                            <a href="#" class="btn btn-secondary float-left btn-show-episode disabled">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id >= 1 and episode.number > 1 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id, slug: episode.slug, id: episode.id - 1, number: episode.number - 1}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id > 1 and episode.number == 1 and episode.saison.id != 9 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id - 1, slug: episode.slug, id: episode.id - 1, number: episode.number + 11}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id == 9 and episode.number == 1 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id - 1, slug: episode.slug, id: episode.id - 1, number: episode.number + 11}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                    </div>
                    <div class="col-6 div-btn-show-episode">
                        {% if episode.saison.id == 9 and episode.number == 12 %}
                            <a href="#" class="btn btn-secondary float-right btn-show-episode disabled">Episode suivant ></a>
                        {% endif %}
                        {% if episode.saison.id >= 1 and episode.number == 12 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id + 1, slug: episode.slug, id: episode.id + 1, number: episode.number - 11}) }}" class="btn btn-secondary float-right btn-show-episode" title="Regarder episode suivant en streaming gratuit en VF et VOSTFR">Episode suivant ></a>
                        {% endif %}
                        {% if episode.saison.id >=1  and episode.number < 12 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id, slug: episode.slug, id: episode.id + 1, number: episode.number + 1}) }}" class="btn btn-secondary float-right btn-show-episode" title="Regarder episode suivant en streaming gratuit en VF et VOSTFR">Episode suivant ></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 tab-lecteur">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-mixdropvf-tab" title="Regarder l'Episode {{ episode.number }} de la {{ episode.saison }} de Kaamelott en streaming VF gratuit" data-toggle="tab" href="#nav-mixdropvf" role="tab" aria-controls="nav-mixdropvf" aria-selected="true">
                                    Doodstream
                                    <img src="{{ asset('uploads/logos_directory/vf.png') }}" alt="Logo version VF pour episode {{ episode.title }} de Kaamelott" class="logo-version">
                                </a>
                                <a class="nav-item nav-link" id="nav-mixdropvostfr-tab" data-toggle="tab" href="#nav-mixdropvostfr" role="tab" aria-controls="nav-mixdropvostfr" aria-selected="false" title="Regarder l'Episode {{ episode.number }} de la {{ episode.saison }} de Kaamelott en streaming VOSTFR gratuit">
                                    Doodstream
                                    <img src="{{ asset('uploads/logos_directory/vostfr.png') }}" alt="Logo version VOSTFR pour episode {{ episode.title }} de Kaamelott" class="logo-version">
                                </a>
                                <a class="nav-item nav-link" id="nav-vidozavf-tab" data-toggle="tab" href="#nav-vidozavf" role="tab" aria-controls="nav-vidozavf" aria-selected="false" title="Regarder l'Episode {{ episode.number }} de la {{ episode.saison }} de Kaamelott en streaming VF gratuit">
                                    Vidoza
                                    <img src="{{ asset('uploads/logos_directory/vf.png') }}" alt="Logo version VF pour episode {{ episode.title }} de Kaamelott" class="logo-version">
                                </a>
                                <a class="nav-item nav-link" id="nav-vidozavostfr-tab" data-toggle="tab" href="#nav-vidozavostfr" role="tab" aria-controls="nav-vidozavostfr" aria-selected="false" title="Regarder l'Episode {{ episode.number }} de la {{ episode.saison }} de Kaamelott en streaming VOSTFR gratuit">
                                    Vidoza
                                    <img src="{{ asset('uploads/logos_directory/vostfr.png') }}" alt="Logo version VOSTFR pour episode {{ episode.title }} de Kaamelott" class="logo-version">
                                </a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <!--<script src="//pubdirecte.com/script/banniere.php?said=128229"></script>
                            <button class="btn btn-secondary btn-show-episode" id="close_pubdirecte">FERMER PUB</button>-->
                            <div class="tab-pane fade show active" id="nav-mixdropvf" role="tabpanel" aria-labelledby="nav-mixdropvf-tab">
                                <div class="tab-content">
                                    {% if episode.OpenloadLinkVf|length > 24 %}
                                        <iframe src="{{ episode.OpenloadLinkVf }}" scrolling="no" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" class="lecteur"></iframe>
                                    {% endif %}
                                    {% if episode.OpenloadLinkVf|length < 24 %}
                                        <p class="text-center mt-3 mb-3">La version Française n'est pas encore disponible !</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-vidozavf" role="tabpanel" aria-labelledby="nav-vidozavf-tab">
                                <div class="tab-content">
                                    {% if episode.StreamangoLinkVf|length > 24 %}
                                        <iframe src="{{ episode.StreamangoLinkVf }}" scrolling="no" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" class="lecteur"></iframe>
                                    {% endif %}
                                    {% if episode.StreamangoLinkVf|length < 24 %}
                                        <p class="text-center mt-3 mb-3">La version Française n'est pas encore disponible !</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-mixdropvostfr" role="tabpanel" aria-labelledby="nav-mixdropvostfr-tab">
                                <div class="tab-content">
                                    {% if episode.OpenloadLinkVostfr|length > 24 %}
                                        <iframe src="{{ episode.OpenloadLinkVostfr }}" scrolling="no" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" class="lecteur"></iframe>
                                    {% endif %}
                                    {% if episode.OpenloadLinkVostfr|length < 24 %}
                                        <p class="text-center mt-3 mb-3">La version originale avec les sous titres en Français n'est pas encore disponible !</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-vidozavostfr" role="tabpanel" aria-labelledby="nav-vidozavostfr-tab">
                                <div class="tab-content">
                                    {% if episode.StreamangoLinkVostfr|length > 24 %}
                                        <iframe src="{{ episode.StreamangoLinkVostfr }}" scrolling="no" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" class="lecteur"></iframe>
                                    {% endif %}
                                    {% if episode.StreamangoLinkVostfr|length < 24 %}
                                        <p class="text-center mt-3 mb-3">La version originale avec les sous titres en Français n'est pas encore disponible !</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6 div-btn-show-episode">
                        {% if episode.saison.id == 1 and episode.number == 1 %}
                            <a href="#" class="btn btn-secondary float-left btn-show-episode disabled">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id >= 1 and episode.number > 1 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id, slug: episode.slug, id: episode.id - 1, number: episode.number - 1}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id > 1 and episode.number == 1 and episode.saison.id != 9 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id - 1, slug: episode.slug, id: episode.id - 1, number: episode.number + 11}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                        {% if episode.saison.id == 9 and episode.number == 1 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id - 1, slug: episode.slug, id: episode.id - 1, number: episode.number + 11}) }}" class="btn btn-secondary float-left btn-show-episode" title="Regarder episode précédent en streaming gratuit en VF et VOSTFR">< Episode précédent</a>
                        {% endif %}
                    </div>
                    <div class="col-6 div-btn-show-episode">
                        {% if episode.saison.id == 9 and episode.number == 12 %}
                            <a href="#" class="btn btn-secondary float-right btn-show-episode disabled">Episode suivant ></a>
                        {% endif %}
                        {% if episode.saison.id >= 1 and episode.number == 12 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id + 1, slug: episode.slug, id: episode.id + 1, number: episode.number - 11}) }}" class="btn btn-secondary float-right btn-show-episode" title="Regarder episode suivant en streaming gratuit en VF et VOSTFR">Episode suivant ></a>
                        {% endif %}
                        {% if episode.saison.id >=1  and episode.number < 12 %}
                            <a href="{{ path('episode.show', {slug_s: episode.saison.slug, id_s: episode.saison.id, slug: episode.slug, id: episode.id + 1, number: episode.number + 1}) }}" class="btn btn-secondary float-right btn-show-episode" title="Regarder episode suivant en streaming gratuit en VF et VOSTFR">Episode suivant ></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
